.idea

# Linux AppImage
/app/AppDir
/app/appimage-build

.refena_inspector/

/secrets

# FVM Version Cache
.fvm/
.agent
agconnect-services.json
airdrop_devDebug.p7b

# 证书和签名文件（敏感，绝不提交）
*.p7b
*.p12
*.csr
*.cer
thlairdrop/image
